body {
    background-color: rgb(240, 96, 96);
}

.display-4 {
    color: snow;
    font-size: 80px;
   
}
.jumbotron {
    padding: 2rem 1rem;
    text-align: center;
    /* font-size: 80px; */
    background-image: url(https://thumbs.gfycat.com/AdmiredImpressiveJohndory-max-1mb.gif);
    border-radius: .3rem;
    margin-left: 10%;
    margin-right: 10%;
    /* margin: 10%; */
}
ul {
    list-style-type: none;
}

.treat-options img {
    height: 100px;
    width: 100px;
}

.fire {
    width: 240px;
   }
h4 {
    text-align: center;
    border: solid black 1px;
    margin-left: 20px;
}
#title {
    text-align: center;
    border: solid black 1px;
}
#clickBegin {
    text-align: center;
    margin-bottom: 3%;
}

#sidebar {  
    text-align: center;
    margin-left: 3%;
    margin-right: 5%;
    border: black solid 1px;
    padding: 2px;
    /* height: 500px; */
    /* background-image: url(https://thumbs.gfycat.com/AdmiredImpressiveJohndory-max-1mb.gif); */
} 
#sidebar2 {  
    text-align: center;
    text-decoration: underline;
    margin-left: 5%;
    margin-right: 2%;
    border: black solid 1px;
    padding: 2px;
    /* background-image: url(https://thumbs.gfycat.com/AdmiredImpressiveJohndory-max-1mb.gif); */
}
#player{
    /* i want the iFrame player to appear on user request, and load new videos on request too */
    display:
}
/* #running {
    height: 50px;
    width: 50px;
} */