body {
    background-color: rgb(240, 96, 96);
}

.carousel {
    background-color: rgb(189, 80, 180);
}

h2 {
    background-color: lawngreen;
    color: lightcoral;
}
.display-4 {
    color: snow;
    font-size: 80px;
  
    
}
.jumbotron {
    padding: 2rem 1rem;
    text-align: center;
    /* font-size: 80px; */
    background-image: url(https://thumbs.gfycat.com/AdmiredImpressiveJohndory-max-1mb.gif);
    border-radius: .3rem;
    margin-left: 10%;
    margin-right: 10%;
    /* margin: 10%; */
}
ul {
    list-style-type: none;
}

.treat-options img {
    height: 100px;
    width: 100px;
}

.fire {
    width: 240px;
   }
h4 {
    text-align: center;
    border: solid black 1px;
    margin-left: 20px;
}
#title {
    text-align: center;
    border: solid black 1px;
}
#clickBegin {
    text-align: center;
    margin-bottom: 3%;
}

#sidebar {  
    text-align: center;
    margin-left: 3%;
    margin-right: 5%;
    border: black solid 1px;
    padding: 2px;
    /* height: 500px; */
    /* background-image: url(https://thumbs.gfycat.com/AdmiredImpressiveJohndory-max-1mb.gif); */
} 
#sidebar2 {  
    text-align: center;
    text-decoration: underline;
    margin-left: 5%;
    margin-right: 2%;
    border: black solid 1px;
    padding: 2px;
    /* background-image: url(https://thumbs.gfycat.com/AdmiredImpressiveJohndory-max-1mb.gif); */
}

#recipe-drop {

    background-color: rgb(248, 205, 190);
    text-decoration: lightcoral;
    text-align: center;
    text-size-adjust: 20pts ;
}
<<<<<<< Updated upstream

.btn {
 background-color: rgb(248, 222, 213)
=======
#workout {
    background-color: rgb(248, 205, 190);
    border: solid red 1px;
    /* text-decoration: lightcoral; */
    text-align: center;
    text-size-adjust: 20pts ; 
    float: right;
}
h2 {
    background-color: lawngreen;
    color: lightcoral;
}
#treat1 {
    height: 200px;
    width: 200px;
}
#workout1 {
    height: 200px;
    width: 200px;
    
}
/* .yearn {
   
>>>>>>> Stashed changes
}
/* #running {
    height: 50px;
    width: 50px;
} */